.advantages {
  @include padding-mobile;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 14px;
  position: relative;

  &::before {
    content: "";
    height: 6px;
    width: 100%;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.advantages__intro {
  font-size: 25px;
  color: $black;
  font-weight: 700;
  line-height: 30px;
  padding-top: 31px;
  padding-bottom: 46px;
}

.advantages__list {
  @include list-style-none;
}

.advantages__item {
  position: relative;
  font-size: 17px;
  color: $black;
  line-height: 20px;
  text-align: left;
  font-weight: 700;
  width: 250px;
  padding-top: 40px;
  padding-bottom: 42px;
}

.advantages__item--eco::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 38px;
  top: -15px;
  left: 9px;
  background-image: url("../img/icon-feature-flower.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.advantages__item--economy::before {
  content: "";
  position: absolute;
  width: 47px;
  height: 29px;
  top: -13px;
  left: 2px;
  background-image: url("../img/icon-feature-money.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.advantages__item--like::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 28px;
  top: -7px;
  left: 9px;
  background-image: url("../img/icon-feature-heart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.advantages__item--byhand::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  top: -10px;
  left: 3px;
  background-image: url("../img/icon-feature-ball.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.advantages__item--byhand {
  padding-top: 45px;
}

.advantages__item--local::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 24px;
  top: -8px;
  left: -8px;
  background-image: url("../img/icon-feature-rocket.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.advantages__item--wrap::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  top: -10px;
  left: 3px;
  background-image: url("../img/icon-feature-gift.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

@media (min-width: 768px) {
  .advantages {
    width: 718px;
    margin: 0 auto;
    padding-bottom: 0;

    &::before {
      top: 0;
      left: 0;
      height: 15px;
    }
  }

  .advantages__intro {
    padding-top: 75px;
    padding-left: 17px;
    font-size: 43px;
    line-height: 50px;
    padding-bottom: 62px;
  }

  .advantages__list {
    max-height: 480px;
    padding-left: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .advantages__item {
    padding-bottom: 70px;
    width: 293px;
    padding-right: 41px;
    padding-top: 40px;
    font-size: 20px;
    line-height: 22px;
  }

  .advantages__item--eco {
    order: -5;
  }

  .advantages__item--byhand {
    order: -4;
  }

  .advantages__item--economy {
    order: -3;
  }

  .advantages__item--local {
    order: -2;
  }
}

@media (min-width: 1150px) {
  .advantages {
    padding-bottom: 25px;
    width: 80%;

    &::before {
      height: 20px;
      top: -30px;
    }
  }

  .advantages__intro {
    padding-top: 50px;
    padding-left: 145px;
    font-size: 53px;
    line-height: 57px;
  }

  .advantages__list {
    padding-left: 150px;
  }

  .advantages__item {
    padding-right: 55px;
  }
}
