.advantages {
  height: 770px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 30px;
}

.advantages__intro {
  font-size: 25px;
  color: $black;
  font-weight: 700;
  line-height: 30px;
}

.advantages__list {
  @include list-style-none;
}

.advantages__item {
  font-size: 17px;
  color: $black;
  line-height: 20px;
  text-align: left;
  font-weight: 700;
}

@media (min-width: 768px) {
  .advantages {
    height: 655px;
    @include margin-tablet;
  }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

  }

  .advantages__item {
    width: 345px;
  }
}

@media (min-width: 1200px) {
  .advantages {
    margin-left: 270px;
  }
}
