.bestseller {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
}

.product-card {
  color: $grey;
}

.product-card__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: $black;
  line-height: 30px;
}

.product-card__bestseller {
  color: $grass;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card__description {
  font-size: 15px;
  line-height: 24px;
  color: $grey;
}

.product-card__specification {
  font-size: 15px;
  line-height: 24px;
  color: $grey;
}

.product-card__price {
  font-size: 17px;
  line-height: 24px;
}

.product-card__order {
  font-size: 17px;
  text-align: center;
  line-height: 20px;
  border: 2px solid #444444;
  text-transform: uppercase;
  padding: 15px 70px;
}
