.catalog__list {
  @include list-style-none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

@media (min-width: 768px) {
  .catalog__list {
    position: relative;
    margin-bottom: -5px;

    &::before {
      content: "";
      height: 24px;
      width: 100%;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      background-repeat: repeat;
      position: absolute;
      top: -90px;
      left: 0;
    }
  }
}

@media (min-width: 1200px) {
  .catalog__list::before {
    height: 34px;
    top: -150px;
  }
}
