.contacts {
  margin-bottom: 34px;

  margin-left: 68px;
  outline: 1px solid black;
}

.contacts__title {
font-weight: bold;
font-size: 18px;
line-height: 30px;
padding-bottom: 25px;

@include outline;
}

.contacts__table {
  border-collapse: collapse;
  font-size: 15px;
  color: $grey;
  line-height: 30px;
}

.contacts__email {
  @include outline;
}

.contacts__field {
  padding-right: 32px;
  vertical-align: top;
  padding-bottom: 30px;
}

.contacts__value {
  vertical-align: top;
  max-width: 145px;
}

.contacts__map {
  max-height: 457px;
  min-width: 322px;
  display: block;
  margin-left: 40px;
  margin-bottom: 39px;
}

.contacts__write {
  border: 2px solid $grey;
  text-transform: uppercase;

  margin-left: 68px;
  max-width: 260px;
  padding-top: 14px;
  padding-bottom: 15px;
  margin-bottom: 38px;
  display: block;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  color: $grey;
  line-height: 20px;
}
