.contacts {
  margin-bottom: 54px;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 23px;

  @include padding-mobile;
}

.contacts__table {
  border-collapse: collapse;
  font-size: 15px;
  color: $grey;
  line-height: 30px;
  margin-bottom: 35px;
  margin-left: 30px;
}

.contacts__email .contacts__field {
  min-width: 48px;
}

.contacts__field {
  padding-right: 30px;
  vertical-align: top;
  padding-bottom: 30px;
}

.contacts__value {
  vertical-align: top;
  padding-right: 35px;
}

.contacts__email .contacts__value {
  text-decoration: underline;
  text-decoration-color: $emerald;

  &:focus,
  &:hover {
    color: $emerald;
  }

  &:active {
    opacity: 0.7;
    text-decoration-color: lighten($emerald, 40%);
  }
}

.contacts__map {
  max-height: 457px;
  width: 100%;
  display: block;
  padding: 0;

  margin-bottom: 62px;
  position: relative;
}

.contacts__map::before {
  content: " ";
  width: 67px;
  height: 100px;
  position: absolute;
  top: 148px;
  left: 140px;
  background-image: url("../img/icon-map-pin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__write {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 50px;
  padding-right: 56px;
  margin-left: 30px;
  margin-right: 30px;
  width: 260px;
}

@media (min-width: 768px) {
  .contacts {
    margin-bottom: 60px;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      top: -14px;
      right: 52px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    padding-bottom: 47px;
    padding-left: 50px;
  }

  .contacts__table tbody {
    font-size: 17px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .contacts__email {
    margin-right: 20px;
    margin-left: 20px;
  }

  .contacts__email .contacts__field {
    min-width: 60px;
    padding-right: 10px;
  }

  .contacts__address {
    width: 50%;
  }

  .contacts__address .contacts__field {
    padding-right: 22px;
  }

  .contacts__map {
    margin-bottom: 60px;
  }

  .contacts__map::before {
    left: 360px;
    top: 140px;
  }

  .contacts__write {
    display: block;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 55px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1150px) {
  .contacts {
    position: relative;

    &::after {
      left: 140px;
      top: -7px;
    }
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding-left: 250px;
  }

  .contacts__table {
    margin-bottom: -20px;
  }

  .contacts__table tbody {
    flex-direction: column;
  }

  .contacts__email {
    padding-left: 200px;
  }

  .contacts__email .contacts__field {
    padding-right: 20px;
  }

  .contacts__address {
    width: 330px;
    padding-left: 220px;
  }

  .contacts__address .contacts__field {
    padding-right: 20px;
  }

  .contacts__map {
    max-width: 525px;
    position: absolute;
    top: -70px;
    right: 125px;
  }

  .contacts__map::before {
    left: 240px;
  }

  .contacts__write {
    margin: 0;
    margin-top: 78px;
    margin-left: 250px;
  }
}
