.featured {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: $grey;
  position: relative;

  &::after {
    content: "";
    height: 23px;
    width: 100%;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: 100% 80%;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
}

.featured__wrapper {
  display: flex;
  flex-direction: column;

  @include padding-mobile;
}

.featured__title {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 5px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: $black;
  line-height: 30px;
  outline: 1px solid red;
}

.featured__weekly {
  color: $grass;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;
  outline: 1px solid red;
}

.featured__description {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  color: $grey;
  outline: 1px solid red;
  width: 254px;
  padding-bottom: 20px;
}


.featured__specification {
  font-size: 15px;
  line-height: 24px;
  color: $grey;
  border-collapse: collapse;
  margin-bottom: 15px;
  outline: 1px solid red;
  max-width: 290px;
}

.featured__specification tr {
  border-bottom: 1px solid $grey;
}

.featured__specification td {
  padding-top: 3px;
  padding-bottom: 15px;
}

.featured__image {
  height: 315px;
  width: 260px;
  outline: 1px solid red;
  align-self: flex-start;
}

.featured__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  align-self: flex-start;
  outline: 1px solid red;
  margin-left: 68px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.featured__order {
  font-size: 17px;
  font-weight: 700;
  color: $grey;
  text-align: center;
  line-height: 20px;
  border: 2px solid $grey;
  text-transform: uppercase;
  padding: 14px;
  margin-bottom: 40px;
  max-width: 259px;

  &:hover,
  &:focus {
    background-color: $grey;
    color: $white;
  }

  &:active {
    color: opacify($grey, 0.3);
  }
}

@media (min-width: 768px) {
  .featured {
    padding-left: 17px;
    max-width: 1050px;

    &::before {
      content: "";
      height: 23px;
      width: 100%;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: 100% 90%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &::after {
      bottom: -30px;
      left: 0;
    }
  }

  .featured__title {
    padding-top: 55px;
    padding-bottom: 54px;
    font-size: 43px;
    line-height: 50px;
  }

  .featured__weekly {
    width: 80px;
    position: absolute;
    top: 66px;
    right: 65px;
  }

  .featured__description {
    font-size: 17px;
    line-height: 30px;
    min-width: 300px;
    padding-bottom: 35px;
  }

  .featured__specification  {
    margin-bottom: 23px;

  }

  .featured__specification tr {
    display: block;
    max-width: 292px;
  }

  .featured__field {
    padding-right: 40px;
  }

  .featured__image {
    width: 333px;
    height: 404px;
    position: absolute;
    top: 160px;
    right: 50px;
  }

  .featured__price {
    font-size: 20px;
    padding-bottom: 34px;
  }

  .featured__order {
    max-width: 291px;
  }
}

@media (min-width: 1200px) {
  .featured {
    padding-left: 175px;

    @include margin-desktop;
  }

  .featured__image {
    width: 525px;
    height: 636px;
    top: 71px;
  }

  .featured__title {
    position: absolute;
    top: 0;
    left: 137px;
    z-index: 10;
    padding-top: 132px;
    font-size: 53px;
    line-height: 57px;
  }

  .featured__weekly {
    left: 0;
    top: 0;
    padding-top: 141px;
  }

  .featured__description {
    margin-top: 230px;
    padding-bottom: 43px;
  }

  .featured__specification {
    margin-bottom: 109px;
  }

  .featured__price {
    margin-bottom: 33px;
  }

  .featured__order {
    margin-bottom: 100px;
  }
}
