.featured {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: $grey;
  position: relative;

  &::after {
    content: "";
    height: 6px;
    width: 100%;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.featured__wrapper {
  display: flex;
  flex-direction: column;

  @include padding-mobile;
}

.featured__title {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 5px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: $black;
  line-height: 30px;
  outline: 1px solid red;
}

.featured__weekly {
  color: $grass;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;
  outline: 1px solid red;
}

.featured__description {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  color: $grey;
  outline: 1px solid red;
  width: 254px;
  padding-bottom: 20px;
}


.featured__specification {
  font-size: 15px;
  line-height: 24px;
  color: $grey;
  border-collapse: collapse;
  margin-bottom: 15px;
  outline: 1px solid red;
  max-width: 290px;
}

.featured__specification tr {
  border-bottom: 1px solid $grey;
}

.featured__specification td {
  padding-top: 3px;
  padding-bottom: 15px;
}

.featured__field {
  padding-right: 15px;
}

.featured__image {
  height: 315px;
  width: 260px;
  outline: 1px solid red;
  align-self: flex-start;
}

.featured__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  align-self: flex-start;
  outline: 1px solid red;
  margin-left: 68px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.featured__order {
  font-size: 17px;
  font-weight: 700;
  color: $grey;
  text-align: center;
  line-height: 20px;
  border: 2px solid $grey;
  text-transform: uppercase;
  padding: 14px;
  margin-bottom: 40px;
  max-width: 259px;

  &:hover,
  &:focus {
    background-color: $grey;
    color: $white;
  }

  &:active {
    color: opacify($grey, 0.3);
  }
}

@media (min-width: 768px) {
  .featured {
    padding-left: 17px;
    margin-bottom: 5px;

    @include outline;

    &::before {
      content: "";
      height: 24px;
      width: 100%;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      background-repeat: repeat;
      position: absolute;
      top: -10px;
      left: 0;
    }

    &::after {
      bottom: -30px;
      left: 0;
      height: 17px;
    }
  }

  .featured__title {
    padding-top: 45px;
    padding-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .featured__weekly {
    width: 80px;
    position: absolute;
    top: 55px;
    right: 71px;
    text-align: center;
  }

  .featured__description {
    font-size: 17px;
    line-height: 30px;
    min-width: 300px;
    padding-bottom: 35px;
  }

  .featured__specification {
    margin-bottom: 23px;
  }

  .featured__specification tr {
    display: block;
    max-width: 292px;
  }

  .featured__field {
    padding-right: 40px;
  }

  .featured__image {
    width: 333px;
    height: 404px;
    position: absolute;
    top: 163px;
    right: 50px;
  }

  .featured__price {
    font-size: 20px;
    padding-bottom: 34px;
  }

  .featured__order {
    max-width: 291px;
  }
}

@media (min-width: 1200px) {
  .featured {
    max-width: 1250px;

    &::before {
      top: -20px;
      height: 34px;
    }

    &::after {
      height: 23px;
      bottom: 10px;
    }
  }

  .featured__wrapper {
    padding-left: 233px;
  }

  .featured__image {
    width: 525px;
    height: 636px;
    top: 77px;
    right: 120px;
  }

  .featured__title {
    position: absolute;
    top: 0;
    left: 137px;
    z-index: 10;
    padding-top: 119px;
    padding-left: 113px;
    font-size: 53px;
    line-height: 57px;
  }

  .featured__weekly {
    left: 120px;
    top: 0;
    padding-top: 131px;
  }

  .featured__description {
    margin-top: 225px;
    padding-bottom: 45px;
  }

  .featured__specification {
    margin-bottom: 78px;
  }

  .featured__price {
    padding-left: 8px;
  }

  .featured__order {
    margin-bottom: 100px;
  }
}
