.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 1px solid black;
  padding-top: 32px;
  padding-bottom: 27px;
  min-width: 180px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.copyright__text {
  color: $black;
  font-size: 19px;
  line-height: 18px;
  display: block;
  padding-right: 28px;
}

.copyright__link {
  display: block;
  outline: 1px solid red;
  width: 28px;
  height: 35px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;
  background-size: auto;
}

@media (min-width: 768px) {
  .page-footer__copyright {
    margin-right: 50px;
    padding-top: 18px;
  }
}

@media (min-width: 1150px) {
  .page-footer__copyright {
    margin-right: 125px;
  }
}
