.page-footer {
  background-color: $background-grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1150px) {
  .page-footer {
    margin-top: 105px;
  }

  .page-footer--form {
    margin-top: 50px;
  }
}
