.page-footer {
  background-color: $background-grey;
  //
  height: 160px;
  //
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 768px) {
  .page-footer {
    //
    height: 143px;
    //
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}
