.social__list {
  @include list-style-none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 143px;
  padding-top: 23px;
  padding-bottom: 9px;
}

.social__link {
  display: block;
  width: 35px;
  height: 35px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }

  &--instagram {
    background-image: url("../img/icon-insta.svg");
    width: 22px;

    &:hover,
    &:focus {
      background-image: url("../img/icon-insta--green.svg");
    }
  }

  &--facebook {
    background-image: url("../img/icon-fb.svg");

    &:hover,
    &:focus {
      background-image: url("../img/icon-fb--green.svg");
    }
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");

    &:hover,
    &:focus {
      background-image: url("../img/icon-twitter--green.svg");
    }
  }
}

@media (min-width: 768px) {
  .social__list {
    padding-top: 0;
  }
}

@media (min-width: 1150px) {
  .page-footer__social--1150 {
    padding-top: 10px;
  }
}
