.form-main__intro {
  font-size: 13px;
  color: $grey;
  line-height: 24px;

  padding-left: 30px;
  padding-right: 29px;
  padding-top: 23px;
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .form-main__intro {
    font-size: 17px;
    line-height: 30px;
    padding-left: 50px;
    padding-top: 80px;
    padding-right: 50px;
    padding-bottom: 20px;
  }
}

@media (min-width: 1150px) {
  .form-main__intro {
    padding-left: 225px;
    padding-right: 305px;
    padding-top: 123px;
  }
}
