.form__type .form-element__list {
  padding-top: 25px;
  padding-bottom: 13px;

  margin-top: 5px;
  margin-bottom: 11px;
}

.form__type .form-element__option {
  position: relative;
  padding-bottom: 18px;
}


.form__type label::before {
  content: "";
  width: 35px;
  height: 35px;
  top: -7px;
  left: -61px;
  border: 2px solid $grey;
  border-radius: 50%;
  position: absolute;
}

.form__type label:focus::before,
.form__type label:hover::before {
  border-color: $emerald;
}

.form__type label:active::before {
  border-color: lighten($grey, 40%);
}

.form__type .form-element__input:checked + label::after {
  content: "";
  width: 15px;
  height: 15px;
  top: 5px;
  left: -50px;
  background-color: $emerald;
  border-radius: 50%;
  position: absolute;
}

@media (min-width: 768px) {
  .form__type {
    position: relative;
  }

  .form__type legend {
    position: absolute;
    top: -17px;
  }

  .form__type .form-element__list {
    padding-left: 245px;
    margin-top: -45px;
    margin-bottom: 30px;
  }

  .form__type .form-element__option:first-child {
    padding-bottom: 55px;
  }

  .form__type label {
    &::before {
      width: 49px;
      height: 49px;
      top: -15px;
      left: -81px;
    }
  }

  .form__type .form-element__input:checked + label::after {
    width: 20px;
    height: 20px;
    top: 0;
    left: -66px;
  }
}

@media (min-width: 1150px) {
  .form__type .form-element__list {
    padding-left: 280px;
  }

  .form__type legend {
    left: 115px;
  }
}
