.form__extra {
  margin-left: 26px;
  margin-bottom: 10px;
}

.form__extra label {
  padding-left: 2px;

  &::after {
    top: 10px;
    left: 67px;
    width: 196px;
  }
}

.form__extra textarea {
  font-family: inherit;
  border: 2px solid $grey;
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-top: 15px;
  margin-bottom: 6px;

  font-size: 17px;
  color: $grey;
  line-height: 18px;

  &:hover,
  &:focus {
    border-color: $emerald;
  }
}

.form__asterix {
  font-size: 14px;
  color: $grey;
  line-height: 16px;
  padding-left: 5px;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .form__extra {
    margin-left: 0;
    margin-bottom: 45px;
    position: relative;
    display: flex;
  }

  .form__extra label {
    width: 22%;
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 90px;
  }

  .form__extra textarea {
    width: 65%;
    margin-top: 50px;
    padding-left: 14px;
  }

  .form__asterix {
    font-size: 17px;
    line-height: 30px;
    position: absolute;
    right: 50px;
    top: 249px;
  }
}

@media (min-width: 1150px) {
  .form__extra {
    margin-bottom: 35px;
  }

  .form__extra legend {
    left: 105px;
  }

  .form__extra textarea {
    margin-left: 225px;
    width: 61%;
  }

  .form__asterix {
    top: 246px;
    right: 224px;
  }
}
