.form__element {
  border: none;
  padding: 0;
  padding-right: 30px;
  padding-bottom: 25px;
}

.form__title {
  font-weight: 700;
  font-size: 17px;
  color: $emerald;
  line-height: 16px;
  text-transform: uppercase;
  padding-left: 25px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 198px;
    height: 1px;
    background-color: $emerald;
    top: 12px;
    left: 91px;
  }
}

.form__list {
  @include list-style-none;

  padding-left: 90px;
  padding-top: 30px;
}

.form__element input {
  font-size: 17px;
  color: $grey;
  line-height: 18px;
}

.form__list--name {
  padding-left: 28px;
  padding-top: 25px;
}

.form__list--contact {
  padding-top: 5px;
  padding-left: 0;
  padding-bottom: 0;
}

.form__option label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.form__element--ext {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.form__element--ext .form__title {
  padding-left: 29px;

  &::after {
    top: 10px;
  }
}

.form__element--ext textarea {
  font-family: inherit;
  border: 2px solid $grey;
  margin-top: 27px;
  margin-left: 28px;
  padding-left: 17px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-top: 15px;

  font-size: 17px;
  color: $grey;
  line-height: 18px;

  &:hover,
  &:focus {
    border-color: $emerald;
  }
}

.form__element--footer {
  padding-left: 30px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
}

.form__asterix {
  font-size: 14px;
  color: $grey;
  line-height: 16px;
  padding-bottom: 32px;
}

.form__submit {
  align-self: center;
  line-height: 16px;
  padding-top: 13px;
  padding-bottom: 15px;
  width: 260px;
}

@media (min-width: 768px) {
  .form__element {
    padding-bottom: 0;
  }

  .form__wrapper {
    display: flex;
  }

  .form__title {
    padding-top: 50px;
    padding-left: 50px;

    &::after {
      width: 0;
      height: 0;
    }
  }

  .form__list {
    padding-left: 210px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .form__title--color {
    padding-top: 68px;
  }

  .form__list--color {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
    padding-top: 65px;
    padding-left: 200px;
  }

  .form__title--name {
    padding-top: 65px;
  }

  .form__list--name {
    padding-left: 125px;
    padding-top: 46px;
    flex-grow: 1;
  }

  .form__option label {
    font-size: 19px;
    line-height: 18px;
  }

  .form__element:nth-child(4) {
    background-color: #f1f1f1;
  }

  .form__list--contact  {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .form__element--ext {
    display: flex;
    flex-direction: row;
  }

  .form__element--ext .form__title {
    padding-left: 50px;
    padding-top: 60px;
  }

  .form__element--ext textarea {
    margin-top: 44px;
    margin-left: 128px;
    flex-grow: 1;
    margin-right: 20px;
    padding-top: 13px;
    font-size: 19px;
    line-height: 18px;
  }

  .form__element--footer {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 35px;
  }

  .form__asterix {
    font-size: 17px;
    line-height: 30px;
    padding-right: 20px;
    padding-top: 15px;
  }

  .form__submit {
    width: 230px;
    margin-left: 20px;
  }
}

@media (min-width: 1150px) {
  .form__title {
    padding-left: 110px;
    padding-top: 55px;
  }

  .form__list {
    padding-left: 155px;
  }

  .form__title--color {
    padding-top: 68px;
  }

  .form__list--color {
    padding-bottom: 10px;
    padding-left: 150px;
  }

  .form__title--name {
    padding-top: 70px;
  }

  .form__list--name {
    padding-left: 71px;
    padding-top: 51px;
  }

  .form__list--contact {
    padding-left: 0;
  }

  .form__element--ext .form__title {
    padding-left: 110px;
  }

  .form__element--ext textarea {
    margin-left: 77px;
    margin-right: 195px;
  }

  .form__element--footer {
    padding-bottom: 23px;
  }

  .form__submit {
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 193px;
  }

  .form__asterix {
    padding-right: 193px;
  }
}
