.form__color .form-element__list {
  padding-top: 34px;
  margin-bottom: 11px;
}

.form__color .form-element__option {
  padding-bottom: 39px;
  position: relative;
}

.form__color .form-element__option:last-child {
  padding-bottom: 29px;
}

.form__color label::before {
  content: "";
  width: 36px;
  height: 36px;
  top: -10px;
  left: -62px;
  border: 2px solid $grey;
  position: absolute;
  background-color: #f1f1f1;
}

.form__color label:hover::before,
.form__color label:focus::before {
  border-color: $emerald;
}

.form__color label:active::before {
  border-color: lighten($grey, 40%);
  background-color: $white;
}

.form__color input:checked + label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 20px;
  top: 0;
  left: -52px;
  background-image: url("../img/icon-tick.svg");
  background-position: center;
}
