.form__send {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 55px;
}

.form-element__submit {
  border: 2px solid $grey;
  font-weight: 700;
  font-size: 17px;
  color: $grey;
  text-align: center;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 15px;
  width: 100%;

  &:hover,
  &:focus {
    background-color: $grey;
    color: $white;
  }

  &:active {
    color: lighthen(#444444, 40%);
  }
}
