.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include outline;
}

.page-header__logo-link {
  height: 35px;
  width: 86px;
  padding-top: 23px;
  padding-bottom: 22px;
  outline: 1px solid red;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.pade-header__text {
  display: none;
}

@media (min-width: 768px) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include margin-tablet;
  }

  .page-header__logo-link {
    align-self: flex-start;
    width: 113px;
    height: 46px;
    padding-top: 22px;
    padding-bottom: 21px;
  }

  .pade-header__text {
    display: block;
    position: absolute;
    top: 109px;
    right: 50px;
    font-size: 15px;
    color: $grey;
    line-height: 24px;
  }
}


@media (min-width: 1200px) {
  .page-header {
    position: relative;
    max-width: 1250px;

    @include margin-desktop;
  }

  .page-header__logo-link {
    position: absolute;
    width: 149px;
    height: 72px;
    top: 0;
    right: 465px;
    padding-top: 9px;
  }

  .pade-header__text {
    right: 0;
  }
}
