.page-header {
  background-color: $white;

  @include margin-mobile;
  //
  height: 395px;
  outline: 1px solid yellow;
  //
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (min-width: 768px) {
  .page-header {
    //
    height: 90px;
    //
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include margin-tablet;
  }
}

@media (min-width: 1200px) {
  .page-header {
    width: 1050px;

    @include margin-desktop;
  }
}
