.page-header__logo-image {
  height: 35px;
  width: 86px;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  .page-header__logo-image {
    align-self: flex-start;
  }
}

@media (min-width: 1200px) {
  .page-header__logo-image {
    position: absolute;
    top: 35px;
    left: 555px;
  }
}
