.page-header {
  margin: 0 auto;
  min-width: 320px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .page-header {
    //
    height: 90px;
    //
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include margin-tablet;
  }
}

@media (min-width: 1200px) {
  .page-header {
    width: 1050px;

    @include margin-desktop;
  }
}
