.main-nav {
  align-self: stretch;
}

.main-nav__list {
  @include list-style-none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 70px;
  z-index: 2;

  cursor: pointer;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.main-nav--opened .main-nav__toggle {
  width: 21px;
  height: 21px;

  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.main-nav--closed .main-nav__toggle {
  width: 20px;
  height: 14px;

  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}


@media (max-width: 767px) {
  .main-nav--closed .site-list,
  .main-nav--closed .user-list,
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    flex-direction: row;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    width: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
