.main-nav {
  height: 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav__list {
  @include list-style-none;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    //
    height: 90px;
    outline: 1px solid purple;
    width: 1050px;
    //
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
