.modal {
  max-width: 320px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  position: fixed;
  background-color: $white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
  padding-right: 30px;
  padding-left: 30px;
}

.modal__title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  color: $black;
  line-height: 30px;
  padding-top: 35px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.modal__text {
  margin: 0;
  color: $grey;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 20px;
}

.modal__size-list {
  @include list-style-none;
  display: flex;
  align-content: center;
  margin-bottom: 30px;
}

.modal__button-size {
  font-size: 17px;
  color: $grey;
  line-height: 16px;
  padding-top: 20px;
  padding-left: 33px;
  padding-bottom: 15px;
  padding-right: 33px;
  border: 2px solid rgba(#444444, 0.1%);
  background-color: $white;
  outline: none;

  &:hover {
    border-color: #cecece;
  }

  &:focus,
  &:active {
    border-color: $emerald;
  }
}

.modal__item {
  margin-right: 7px;

  &:nth-child(3) {
    margin-right: 0;
  }
}

.modal__button {
  background: $grass;
  font-weight: 700;
  font-size: 17px;
  color: $white;
  line-height: 16px;
  text-transform: uppercase;
  width: 260px;
  padding-top: 20px;
  padding-bottom: 15px;
  display: block;
  margin: 0 auto;
  margin-bottom: 46px;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .modal {
    max-width: 566px;
    padding-right: 108px;
    padding-left: 108px;
  }

  .modal__title {
    width: 120%;
    padding-top: 37px;
    padding-bottom: 10px;
  }

  .modal__button-size {
    padding-left: 49px;
    padding-right: 49px;
  }

  .modal__button {
    width: 350px;
  }
}
