.product-card {
  border: 1px solid #ececec;
  width: 260px;
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;

  &:hover,
  &:focus {
    border: 1px solid #ececec;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    border: 1px solid #ececec;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.product-card__image {
  height: 195px;
  width: 260px;
}

.product-card__title {
  padding-left: 28px;
  font-weight: 700;
  font-size: 17px;
  color: $black;
  line-height: 24px;
  padding-top: 25px;
  padding-bottom: 5px;
  width: 80%;
}

.product-card__title a:hover,
.product-card__title a:focus {
  opacity: 0.6;
}

.product-card__title a:active {
  opacity: 0.4;
}

.product-card__specification {
  padding: 0;
  padding-left: 28px;
  color: $grey;
  font-size: 13px;
  line-height: 30px;
  padding-bottom: 19px;
}

.product-card__wrapper {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 -30px 0 -29px #ececec;
  padding-right: 28px;
  padding-left: 30px;
  position: relative;
}

.product-card__price {
  color: $black;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 22px;
  padding-bottom: 28px;
}

.product-card__button {
  border: none;
  width: 21px;
  height: 23px;
  margin-top: 20px;

  background-image: url("../img/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.4;
  background-color: $white;

  &:focus,
  &:hover {
    background-image: url("../img/icon-cart--color.svg");
    cursor: pointer;
    opacity: 1;
  }

  &:active {
    opacity: 0.4;
  }
}

@media (min-width: 768px) {
  .product-card {
    width: 669px;
    flex-direction: row;
    margin-bottom: 50px;
  }

  .product-card__image {
    width: 334px;
    height: 334px;
  }

  .product-card__text {
    width: 50%;
  }

  .product-card__title {
    font-size: 20px;
  }

  .product-card__specification {
    padding-bottom: 175px;
    line-height: 30px;
    font-size: 15px;
  }

  .product-card:nth-child(2) .product-card__specification {
    padding-top: 5px;
  }

  .product-card:last-child .product-card__specification {
    padding-bottom: 155px;
  }

  .product-card__wrapper {
    padding-top: 20px;
  }

  .product-card__price {
    padding-top: 0;
    padding-left: 5px;
    font-size: 17px;
  }

  .product-card__button {
    margin-top: 0;
    margin-right: 3px;
    height: 23px;
  }
}

@media (min-width: 1150px) {
  .product-card {
    flex-direction: column;
    width: 316px;
    margin-right: 48px;
    margin-bottom: 45px;
  }

  .product-card:nth-child(3) {
    margin-right: 0;
  }

  .product-card__image {
    width: 316px;
    height: auto;
  }

  .product-card__text {
    width: 100%;
  }

  .product-card__title {
    padding-top: 23px;
  }

  .product-card:nth-child(2) .product-card__title {
    padding-top: 25px;
    padding-bottom: 0;
  }

  .product-card__specification {
    padding-bottom: 40px;
  }

  .product-card:last-child .product-card__specification {
    padding-bottom: 15px;
  }

  .product-card__price {
    padding-left: 0;
  }

  .product-card:nth-child(2) .product-card__price {
    padding-top: 3px;
    margin-left: -2px;
  }
}
