.product-category {
  background-color: $background-grey;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 575px 375px;
  display: block;
}

.product-category__header {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  width: 275px;
  padding-top: 80px;
  padding-bottom: 125px;
  margin: 0 auto;
  outline: 1px solid red;
}

.product-category__list {
  @include list-style-none;
}

.product-category__item:first-child {
  background-color: $grass;
  color: $white;
}

.product-category__item:last-child {
  background-color: $emerald;
  color: $white;
}

.product-category__link {
  position: relative;
  display: block;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 30px;

  color: $white;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;

  outline: 1px solid red;

  &:hover,
  &:focus {
    transform: translateX(5px);
    padding-top: 40px;
  }

  &:active {
    opacity: 0.4;
  }
}

.product-category__item:first-child .product-category__link::after {
  content: "";
  position: absolute;
  width: 41px;
  height: 63px;
  top: 20px;
  right: 50px;
  background-image: url("../img/icon-interior.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.2;
}

.product-category__item:last-child .product-category__link::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 20px;
  right: 50px;
  background-image: url("../img/icon-toy.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.2;
}

@media (min-width: 320px) {
  @media (min-resolution: 114dpi), (min-resolution: 1.5 dppx) {
    .product-category {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 575px 375px;
    }
  }
}

@media (min-width: 768px) {
  .product-category {
    @include margin-tablet;
    outline: 1px solid black;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1150px 746px;
  }

  @media (min-resolution: 114dpi), (min-resolution: 1.5 dppx) {
    .product-category {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px 746px;
    }
  }

  .product-category__header {
    padding-top: 174px;
    width: 525px;
    padding-bottom: 380px;
    display: block;

    font-size: 43px;
    line-height: 50px;
  }

  .product-category__list {
    display: flex;
    flex-direction: row;
    max-width: 1050px; // не работает
  }

  .product-category__item {
    flex-grow: 1;
  }

  .product-category__link {
    display: block;
    padding-left: 38px;
  }
}

@media (min-width: 1200px) {
  .product-category {
    max-width: 1250px;

    @include margin-desktop;
  }

  .product-category__header {
    font-size: 53px;
    line-height: 57px;
  }
}
