.product-card {
  border: 1px solid #ececec;
  height: 375px;
  width: 260px;

}

.product-card__image {
  width: 100%;
}

.product-card__text-wrapper {
 margin-left: 30px;
}

.product-card__title {
  font-weight: 700;
  font-size: 17px;
  color: $black;
  line-height: 24px;
}

.product-card__specification {
  color: $grey;
  font-size: 15px;
  line-height: 24px;
}

.product-card__wrapper {
  display: flex;
  align-items: baseline;
}

.product-card__price {
  color: $black;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .product-card {
    display: flex;
    justify-content: flex-start;
    width: 665px;
  }

  .product-card__image {
    width: 330px;
  }
}

@media (min-width: 1200px) {
  .catalog__list{
    display: flex;
    flex-direction: row;
    @include margin-desktop;
    height: 790px;
    margin-left: 50px;
  }

  .product-card {
    width: 320px;
    display: flex;
    flex-direction: column;
  }

  .product-card__image {
    width: 100%;
  }
}
