.reviews {
  display: flex;
  flex-direction: column;

  @include padding-mobile;
  margin-bottom: 87px;
  position: relative;

  &::after {
    content: "";
    height: 6px;
    width: 100%;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;
    background-repeat: repeat;
    position: absolute;
    bottom: -50px;
    left: 0;
  }
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 25px;
}

.reviews__text {
  font-size: 15px;
  color: $grey;
  line-height: 30px;
  padding-bottom: 26px;
}

.reviews__br--desktop {
  display: none;
}

.reviews__author-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding-bottom: 34px;
  display: block;
}

.reviews__buttons {
  display: flex;
  flex-direction: row;
}

.reviews__prev,
.reviews__next {
  width: 130px;
  height: 52px;
  border: none;
  position: relative;
  margin-bottom: 38px;
  background-color: $white;

  &:focus,
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.reviews__prev::before {
  content: "";
  width: 50px;
  height: 26px;
  position: absolute;
  top: 13px;
  left: 38px;
  background-image: url("../img/icon-left-arrow.svg");
}

.reviews__next::before {
  content: "";
  width: 50px;
  height: 26px;
  position: absolute;
  top: 13px;
  left: 38px;
  background-image: url("../img/icon-right-arrow.svg");
}

.reviews__write {
  width: 260px;
  padding-top: 17px;
  padding-bottom: 14px;
}

@media (min-width: 768px) {
  .reviews {
    @include padding-tablet;
    position: relative;
    padding-top: 90px;
    padding-bottom: 19px;
    margin-bottom: 150px;

    background-image: url("../img/review@1x.jpg");
    background-position: left;
    background-size: auto;
    background-repeat: no-repeat;

    &::after {
      bottom: -90px;
      height: 16px;
    }
  }

  @media (min-resolution: 114dpi), (min-resolution: 1.5dppx) {
    .reviews {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 457px;
    }
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    padding-bottom: 52px;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 55px;
  }

  .reviews__author-name {
    max-width: 290px;
  }

  .reviews__br {
    content: " ";
  }

  .reviews__br::after {
    content: " ";
  }

  .reviews__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .reviews__prev,
  .reviews__next {
    width: 80px;
  }

  .reviews__write {
    position: absolute;

    top: 90px;
    right: 50px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .reviews__prev {
    left: -86px;
    top: -10px;
  }

  .reviews__next {
    top: -10px;
    right: 78px;
  }
}

@media (min-width: 1150px) {
  .reviews {
    padding-left: 250px;
    padding-bottom: 65px;
    margin-bottom: 232px;
    background-position: 75px 0;

    &::after {
      height: 23px;
    }
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: -16px;
    padding-bottom: 50px;
  }

  .reviews__br--desktop {
    display: inline;
  }

  .reviews__text {
    padding-bottom: 40px;
  }

  .reviews__write {
    right: 125px;
    top: 77px;
  }

  .reviews__buttons {
    right: 75px;
    bottom: 50px;
  }
}
