.user-list {
  border: 1px solid black;
}

.user-list__item {
  position: relative;
  border: 1px solid red;

}

.user-list__link {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.3;
  }
}

.user-list__item--search .user-list__link::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: 39px;
  right: 60px;
  background-image: url("../img/icon-search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.4;
}

.user-list__item--basket .user-list__link::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 18px;
  top: 39px;
  right: 60px;
  background-image: url("../img/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.4;
}


@media (min-width: 768px) {
  .user-list {
    order: -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 550px;
  }

  .user-list__item {
    padding-top: 32px;
  }

  .user-list__item:first-child {
    border-right: 1px solid red;
  }

  .user-list__link {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
  }

  .user-list__item--search {
    width: 85px;
  }

  .user-list__item--search .user-list__link {
    font-size: 0;
  }

  .user-list__item--basket {
    flex-grow: 1;
    padding-left: 83px;
  }

  .user-list__item--search .user-list__link::before {
    top: 36px;
    left: 34px;
  }

  .user-list__item--basket .user-list__link::before {
    top: 35px;
    left: 30px;
  }
}

@media (min-width: 1200px) {
  .user-list {
    order: 1;
  }

  .user-list__item {

  }
}
