.user-list {
  outline: 1px solid red;
}

.user-list__item {
  position: relative;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
}

.user-list__link {
  display: block;
  width: 182px;
  position: relative;
  margin: 0 auto;
  text-align: left;
  padding-top: 35px;
  padding-bottom: 35px;


  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-list__item--search .user-list__link::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 37px;
  left: -45px;
  background-image: url("../img/icon-search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.4;
}

.user-list__item--search .user-list__link:hover::before,
.user-list__item--search .user-list__link:focus::before {
  background-image: url("../img/icon-search--color.svg");
  opacity: 1;
}

.user-list__item--search .user-list__link:active::before {
  opacity: 0.6;
}

.user-list__item--basket .user-list__link::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 37px;
  left: -45px;
  background-image: url("../img/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.4;
}

.user-list__item--basket .user-list__link:hover::before,
.user-list__item--basket .user-list__link:focus::before {
  background-image: url("../img/icon-cart--color.svg");
  opacity: 1;
}

.user-list__item--basket .user-list__link:active::before {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .user-list {
    order: -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 550px;
  }

  .user-list__item {
    padding-top: 32px;
    padding-bottom: 35px;
  }

  .user-list__item:first-child {
    border-right: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
  }

  .user-list__link {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
  }

  .user-list__item--search {
    width: 82px;
  }

  .user-list__item--search .user-list__link {
    font-size: 0;
  }

  .user-list__item--basket {
    flex-grow: 1;
    padding-left: 83px;
  }

  .user-list__item--search .user-list__link::before {
    top: 3px;
    left: 34px;
  }

  .user-list__item--basket .user-list__link::before {
    top: 0;
    left: -51px;
  }
}

@media (min-width: 1150px) {
  .user-list {
    order: 1;
    padding-right: 50px;
  }

  .user-list--1150 {
    padding-right: 0;
  }
}
