@import "var.scss";
@import "mixin.scss";
@import "blocks/main-nav-list.scss";
@import "blocks/nav-list.scss";
@import "blocks/product-category.scss";
@import "blocks/featured.scss";
@import "blocks/advantages.scss";
@import "blocks/reviews.scss";
@import "blocks/contacts.scss";
@import "blocks/footer.scss";
@import "blocks/footer-logo.scss";
@import "blocks/footer-social.scss";
@import "blocks/footer-copyright.scss";
@import "blocks/catalog-title.scss";
@import "blocks/catalog-list.scss";
@import "blocks/product-card.scss";
@import "blocks/production.scss";
@import "blocks/form-title.scss";
@import "blocks/form-intro.scss";
@import "blocks/form.scss";
@import "blocks/form-radio.scss";
@import "blocks/form-checkbox.scss";
@import "blocks/form-text.scss";
@import "blocks/form-tel.scss";
@import "blocks/form-email.scss";
@import "blocks/form-extra.scss";
@import "blocks/form-send.scss";
@import "blocks/modal.scss";
@import "blocks/overlay.scss";


.page {
  max-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: $black;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 768px) {
  .page {
    max-width: 768px;
  }
  .page__main {
    margin-top: -65px;
  }
}

@media (min-width: 1150px) {
  .page {
    max-width: 1150px;
  }

  .page--index {
    max-width: 1250px;
  }
  .page__main {
    margin-top: -68px;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $black;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

h1,
h2,
h3,
p,
blockquote {
  @include zero;
}

.button {
  font-size: 17px;
  font-weight: 700;
  color: $grey;
  text-align: center;
  line-height: 20px;
  border: 2px solid $grey;
  text-transform: uppercase;
  background-color: $white;
  font-family: "Open Sans", "Arial", sans-serif;


  &:hover,
  &:focus {
    background-color: $grey;
    color: $white;
  }

  &:active {
    color: lighten($grey, 40%);
  }
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
